<div class="chat">
    <div class="message-container">
        <img id="profile-img" src="assets/img/fabi.jpg" alt="profile-img">
        <div class="message">
            <h3>Fabian Gurth</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam minus quasi magni obcaecati repellat tempore error corrupti reprehenderit quis aliquam? Ratione magnam expedita aspernatur quae nulla veniam quidem, tenetur quam!</p>
        </div>

    </div>
    <div class="message-input-container">
        <input type="text" [(ngModel)]="message" placeholder="Nachricht senden...">
        <div class="toolbar">
            <div class="tools">
                <mat-icon>attach_file</mat-icon>
                <div class="emoji">
                    <mat-icon>emoji_emotions</mat-icon>
                </div>


                <mat-icon>code</mat-icon>
            </div>

            <div>
                <mat-icon [class.active]="message">send</mat-icon>
            </div>
        </div>
    </div>
</div>