<div class="chat">
    <div *ngFor="let message of messages;" class="message-container">
        <img id="profile-img" src="assets/img/fabi.jpg" alt="profile-img">
        <div class="message">
            <h3>Fabian Gurth</h3>
            <p style="white-space: pre-wrap">{{message.messageText}}</p>
        </div>

    </div>
    <div class="message-input-container">
        <textarea [(ngModel)]="messageText" (keydown.enter)="sendMessage($event)" placeholder="Nachricht senden..." cols="1" rows="1"></textarea>

        <div class="toolbar">
            <div class="tools">
                <mat-icon>attach_file</mat-icon>
                <div class="emoji">
                    <mat-icon>emoji_emotions</mat-icon>
                </div>


                <mat-icon>code</mat-icon>
            </div>

            <div>
                <mat-icon (click)="sendMessage()" [class.active]="messageText">send</mat-icon>
            </div>
        </div>
    </div>
</div>