.dialog-button-container {
    display: flex;
    flex-direction: row-reverse;
}

.ng-select.user-select {
    border-bottom-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}