<div class="profile-container">
  <img src="{{ userImage }}" />
  <div class="center">
    <mat-card-title>{{ userName }}</mat-card-title>
    <!-- <span>{{status}}</span> -->
    <mat-card-subtitle
      >{{ status
      }}<mat-icon *ngIf="status === 'Aktiv'" class="online-icon">lens</mat-icon>
      <mat-icon *ngIf="status === 'Abwesend'" class="afk">lens</mat-icon>
    </mat-card-subtitle>
  </div>
</div>

<button mat-stroked-button (click)="openStatusDialog()" class="status-btn">
  <mat-icon>mood</mat-icon> Setze deinen Status
</button>
<p mat-menu-item (click)="updateUserStatus()">Setze dich auf abwesend</p>
<p mat-menu-item (click)="openDialog()">Profil</p>
<span>
  <mat-slide-toggle
    color="primary"
    (click)="toggleDarkMode()"
    [(ngModel)]="isDarkMode"
    >Dark mode</mat-slide-toggle
  >
</span>
<button mat-menu-item class="logout" (click)="signOut()">Log Out</button>
