<div class="profile-container">
  <img
    *ngIf="updateUser.photoURL"
    src="{{
      updateUser.photoURL
        ? updateUser.photoURL
        : '../../../../../assets/img/user.png'
    }}"
  />
  <div class="center">
    <mat-card-title>{{
      currentUser.displayName ? updateUser.displayName : "Guest"
    }}</mat-card-title>
    <!-- <span>{{status}}</span> -->
    <mat-card-subtitle *ngIf="status"
      >Aktiv<mat-icon class="online-icon">lens</mat-icon>
    </mat-card-subtitle>

    <mat-card-subtitle *ngIf="!status"
      >Abwesend<mat-icon class="afk">lens</mat-icon></mat-card-subtitle
    >
  </div>
</div>

<button mat-stroked-button (click)="openStatusDialog()" class="status-btn">
  <mat-icon>mood</mat-icon> Setze deinen Status
</button>
<p *ngIf="!status" mat-menu-item (click)="updateUserStatus()">
  Setze dich auf aktiv
</p>
<p *ngIf="status" mat-menu-item (click)="updateUserStatus()">
  Setze dich auf abwesend
</p>

<p mat-menu-item (click)="openDialog()">Profil</p>
<span>
  <mat-slide-toggle
    color="primary"
    (click)="toggleDarkMode()"
    [(ngModel)]="isDarkMode"
    >Dark mode</mat-slide-toggle
  >
</span>
<button mat-menu-item class="logout" (click)="signOut()">Log Out</button>
