
img {
  margin: 0 200px;
  height: 150px;
  width: 150px;
}

.name-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.display-user-info {
  margin-top: 60px;

  .controll {
    margin: 10px 0;
    h5 {
      margin: 0;
    }
  }
}
