<mat-toolbar color="primary" class="slack-space">

    <button mat-button [matMenuTriggerFor]="belowMenu">
    <mat-icon>menu</mat-icon>
  </button>
    <mat-menu #belowMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['', { outlets: { imprint: ['imprint'] } }]">
      Impressum
    </button>
        <button mat-menu-item>Datenschutz</button>
    </mat-menu>
    <div class="spacer"></div>
    <div class="spacer"></div>


    <button mat-button [matMenuTriggerFor]="beforeMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
    <mat-menu class="menu-settings" #beforeMenu="matMenu" xPosition="before">
        <app-main-settings></app-main-settings>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="slack-space">
            Developer Akademie
            <mat-icon>expand_more</mat-icon>
        </mat-toolbar>

        <hr />
        <!-- <div class="menu-list-container">
      <div class="menu-list-item"><fa-icon [icon]="faCommentDots"></fa-icon><a mat-list-item href="#">Threads</a></div>
      <div class="menu-list-item"><a mat-list-item href="#"><fa-icon [icon]="faComments"></fa-icon>Alle DMs</a></div>
    </div> -->
        <mat-nav-list>
            <a mat-list-item class="menu-list-item" href="#">
                <fa-icon class="menu-list-item-icon" [icon]="faCommentDots"></fa-icon>
                Threads
            </a>
            <a mat-list-item class="menu-list-item" href="#">
                <fa-icon class="menu-list-item-icon" [icon]="faComments"></fa-icon>
                Alle DMs
            </a>
            <a mat-list-item class="menu-list-item" href="#">
                <fa-icon class="menu-list-item-icon" [icon]="faAt"></fa-icon>
                Erwähnungen und Reaktionen
            </a>
            <a mat-list-item class="menu-list-item" href="#">
                <fa-icon class="menu-list-item-icon" [icon]="faBookmark"></fa-icon>
                Lesezeichen
            </a>
            <a mat-list-item class="menu-list-item" href="#">
                <fa-icon class="menu-list-item-icon" [icon]="faLink"></fa-icon>
                Slackconnect
            </a>
            <a mat-list-item class="menu-list-item" href="#">
                <fa-icon class="menu-list-item-icon" [icon]="faEllipsisV"></fa-icon>
                Mehr
            </a>
            <hr />
            <!--TODO-->

            <app-channels></app-channels>
            <app-direct-messages></app-direct-messages>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"
          >keyboard_double_arrow_right</mat-icon
        >
      </button> -->



        <!--TODO-->
        <!-- <span ngNonBindable> {{ "current chat/channel" }}</span>
            <div class="spacer"></div>
            <span ngNonBindable> {{ "all members of chat/channel" }}</span>
        </mat-toolbar> -->

        <div class="chat-container">
            <router-outlet></router-outlet>
            <!-- <router-outlet name="chat"></router-outlet> -->
            <!-- <app-chat></app-chat> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
